html {
    color: #565656;
    height: 100%;
    background-color: #F4F4F4;

}
body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
/*
    Styles for custom elements
    */
#logo {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 10px;
    margin-left: 10px;
    height: 25px;
}
.ajax-spinner-animated {
    background-image:url(img/ajax-loader.gif); 
}
.ajax-spinner-static {
    background-image:url(img/ajax-loader-extract-1.gif); 
}
#header {
    border-bottom: 2px solid #ccc;
    color: #FFFFFF;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    border-bottom: red 1px solid;
    height: 38px;
    background-image: url(img/header_bg.png);
    background-repeat: repeat-x;
    background-position: top;
}
#page {
    width: 922px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    min-height: 100%;
}
.contolPanel, .filesContainer {
    margin: 0 10px;
    border: 1px solid #cccccc;
    overflow: hidden;
}
.contolPanel {
    height: 50px;
    line-height: 50px; 
    vertical-align: middle;
    margin-top: 50px;
    padding: 0 10px;
}
.imgContainer {
    border: 1px solid #cccccc;
    width: 128px;
    height: 150px;
    margin: 10px;
    float: left;
    position: relative;
    text-align: center;
   
}
.imgContainer .removeFileIcon, 
.imgContainer .downloadFileIcon {
    height: 25px;
    width: 25px;
    position: absolute;
    /*border: 1px solid green;*/
}


.imgContainer .removeFileIcon {
    right: -5px;
    top: -5px;
    background-image: url(img/erase.png)
}
.imgContainer .downloadFileIcon {
    right: -5px;
    top: 25px;
    background-image: url(img/download.png)
}

.contolPanel input {
    height: 30px;
    font-size: 15px;
}
#dialog-confirm .dialogText,
#dialog-download .dialogText,
#dialog-error .dialogText {
    color: #ff0000;
}
.dialogs {
    display: none;
}
div#emptyFiles {
    text-align: center;
    height: 100px;
    margin-top: 50px;
}
div.filter-caption {
    padding: 0 10px;
    font-size: 2em;
    font-weight: bold;
}
.searchform {
    float: right;
    padding: 0;
    border-radius: 20px;
    position: relative;
}
.searchform input[type="text"]{
    padding: 0 5px;
}



